@import "../node_modules/tachyons-sass/tachyons.scss";

.plex-mono {
    font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
}

.plex-sans {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

.plex-serif {
    font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
}

.plex-mono {
    font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
}

q { quotes: "“" "”" "‘" "’"; }


ul, ol {
  padding-left: 0;
  list-style-position: outside;
}

p > a {
    @extend .dim, .link, .purple, .underline-hover;
}

summary {
    @extend .f3, .ttu, .tracked, .link, .dim, .plex-sans;
}

h1, h2, h3 {
    @extend .lh-title, .ttu, .tracked, .plex-sans, .normal, .measure-wide;
}

p, ul, ol {
  @extend .plex-serif, .lh-copy, .measure-wide;
}

li > a {
    @extend .dim, .link, .purple, .underline-hover;
}

// li {
//     @extend .lh-copy, .plex-serif, .measure-wide;
// }

code {
  @extend .plex-mono;
}

h1,h2,h3 {
  @extend .plex-sans, .ttu, .tracked;
}

code {
    white-space: pre-wrap;
}

span.smallcaps {
    font-variant: small-caps;
}

span.underline {
    text-decoration: underline;
}

div.column {
    display: inline-block; vertical-align: top; width: 50%;
}
