.podkova {
    font-family: 'Podkova', serif;
}

.inconsolata {
    font-family: "Inconsolata", monospace;
}

/* .brackets:before, .denote:after { */
/* 	  position: absolute; */
/* 	  top: -9px; /\* Value depends on your design. *\/ */
/* 	  color: transparent;/\* It makes the curly brackets invisible at the beginning.*\/ */
/* } */

/* .brackets:hover:before, .brackets:hover:after { */
/* 	  color: white; /\* Or whatever colour you want. *\/ */
/* } */

/* /\* For movement *\/ */
/* .brackets:before { */
/* 	  left: -20px; */
/* } */
/* .brackets:hover:before { */
/* 	  content: "⟦"; */
/* 	  left: -15px; */
/*     transform: translateX(0); */
/* } */
/* .brackets:after { */
/* 	  right: -20px; */
/* } */
/* .brackets:hover:after { */
/* 	  content: "⟧"; */
/* 	  right: -15px; */
/*     transform: translateX(0); */
/* } */

.cl-effect-1:before, .cl-effect-1:after {
	  display: inline-block;
    position: absolute;
    margin-left:-14px;
	  opacity: 0;
	  -webkit-transition: opacity 0.5s;
    /* -webkit-backface-visibility: hidden; */
	  -moz-transition: opacity 0.5s;
	  transition: opacity 0.5s;
}

.cl-effect-1:before {
	  margin-right: 0px;
    color: white;
	  content: '⟦';
    /* -webkit-backface-visibility: hidden; */
}

.cl-effect-1:after {
	  margin-left: 0px;
    color: white;
	  content: '⟧';
    /* -webkit-backface-visibility: hidden; */
}

.cl-effect-1:hover:before, .cl-effect-1:hover:after, .cl-effect-1:focus:before, .cl-effect-1:focus:after {
	  opacity: 1;
    /* -webkit-backface-visibility: hidden; */
}


body { counter-reset: sidenote-counter; }

.sidenote, .marginnote { float: right;
                         clear: right;
                         margin-right: -60%;
                         width: 50%;
                         margin-top: 0;
                         margin-bottom: 0;
                         font-size: 1.1rem;
                         line-height: 1.3;
                         vertical-align: baseline;
                         position: relative; }

.sidenote-number { counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before { position: relative;
                                           vertical-align: baseline; }

.sidenote-number:after { content: counter(sidenote-counter);
                         font-size: 1rem;
                         top: -0.5rem;
                         left: 0.1rem; }

.sidenote:before { content: counter(sidenote-counter) " ";
                   top: -0.5rem; }

blockquote .sidenote, blockquote .marginnote { margin-right: -82%;
                                               min-width: 59%;
text-align: left; }

.menu {
    min-height: 4rem;
    max-height: 0;
    transition: max-height 0.4s, padding-bottom 0.4s;
}

#burger:checked ~ .menu {
    max-height: 25rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.25);
}

#burgertwo:checked ~ .menu {
    max-height: 25rem;
}

/* The css below essentially adds the tachyons classes "link", "silver", and "dim" to all a elements. */

a {
    text-decoration: none;
    transition: color .15s ease-in;
    color: #999;
    opacity: 1;
    -webkit-transition: opacity .15s ease-in;
    transition: opacity .15s ease-in;
}

a:link, a:visited {
    transition: color .15s ease-in;
}

a:hover {
    transition: color .15s ease-in;
    opacity: .5; -webkit-transition: opacity .15s ease-in; transition: opacity .15s ease-in;
}

a:active {
    transition: color .15s ease-in;
    opacity: .8; -webkit-transition: opacity .15s ease-out; transition: opacity .15s ease-out;
}

a:focus {
    transition: color .15s ease-in;
    opacity: .5; -webkit-transition: opacity .15s ease-in; transition: opacity .15s ease-in;
}

/* summary elements */

summary {
    list-style-type: none;
}

summary:hover {
    cursor: pointer;
}

DETAILS[open] SUMMARY ~ * 
{
    animation: sweep .5s ease-in-out;
}

@keyframes sweep 
{
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
}
