<!doctype html>
<html lang="en">
    $partial("templates/head.html")$
  <body>
      <div class="measure-wide center pt4 ph2 pb5 mw100">
          $partial("templates/header.html")$
<div class="center tc">
<pre class="inconsolata f6">
  _______________________________________
/ I'm currently in the process of         \
| resigning my homepage, so expect things |
| to be a little bare-bones for the time  |
\ being. Email me if anything is missing. /
  ---------------------------------------
  \   ^__^ 
          \  (oo)\_______
                 (__)\       )\/\
                 ||----w |
                 ||     ||
</pre>
</div>
      <div class="pt2 pt4-ns inconsolata">
          $body$

          Reach me at: <a href="mailto:patrick.d.elliott@gmail.com"><i>myFirstName</i>.d.<i>myLastName</i>@gmail.com</a>
      </div>
    </div>
    $partial("templates/footer.html")$
    </body>
</html>
