<!doctype html>
<html lang="en">
    $partial("templates/head.html")$
    <body class="w-100 bg-navy-gradient" style="background-attachment: fixed;">
    $partial("templates/header.html")$
        <!-- <div class="podkova f-headline ttu white tracked db tc pa4"> -->
        <!-- Patrick<br> -->
        <!-- David<br> -->
        <!-- Elliott -->
        <!-- </div> -->
        <div class="white measure-wide pa5 db center lh-copy">
            <!-- <h1 class="f2 podkova ttu tracked normal bb b--white-10 pv3">$title$</h1> -->
            <div class="f5 inconsolata">
           $body$ 
            </div>
        </div>
        $partial("templates/footer.html")$
    </body>
</html>
