<footer class="f6 white pa5 inconsolata">
    <div class="measure-wide tc center ph2">
        <a class="link dim dib h2 w2 mr3" href="https://twitter.com/patrickdelliott" title="Twitter">
            <img src="/images/twitter.svg"/>
        </a>
        <a class="link hover-silver dib h2 w2 mr3" href="https://keybase.io/patrl" title="Keybase">
            <img src="/images/keybase.svg"/>
        </a>
        <a class="link hover-silver dib h2 w2 mr3" href="https://github.com/patrl" title="GitHub">
            <img src="/images/github.svg"/>
        </a>
    </div>
    <div class="measure-wide tc inconsolata white center pa3">
        @ 2018 Patrick D. Elliott
    </div>
    <div class="measure-wide tc inconsolata white center pa1">
        Built with λove using <a href="https://jaspervdj.be/hakyll/">hakyll</a> and <a href="http://tachyons.io/">tachyons</a>. <a href="https://github.com/patrl/patrl.github.io/tree/develop">Source</a>
    </div>
</footer>
