<footer class="bt b--light-gray f6 gray tc">
    <div class="w-100 ph3 pt5 ">
        <a class="inline-flex items-center tc" href="https://twitter.com/patrickdelliott" title="Twitter">
            <img class="dib h2 w2" src="/images/twitter.svg"/>
        </a>
        <a class="inline-flex items-center tc" href="https://keybase.io/patrl" title="Keybase">
            <img class="dib h2 w2" src="/images/keybase.svg"/>
        </a>
        <a class="inline-flex items-center tc" href="https://github.com/patrl" title="GitHub">
            <img class="dib h2 w2" src="/images/github.svg"/>
        </a>
    </div>
    <div class="measure tc center ph2 pb3 lh-copy">
        <p>
            @ 2018 Patrick D. Elliott
        </p>
        <p>
            Built with λove using <a class="link dim purple" href="https://jaspervdj.be/hakyll/">hakyll</a> and <a class="link dim purple" href="http://tachyons.io/">tachyons</a>. <a class="link dim purple" href="https://github.com/patrl/patrl.github.io/tree/develop">Source</a>
        </p>
        <p><a class="link dim purple" href="/about.html">About this site.</p>
    </div>
</footer>
