    <footer class="bt b--light-gray f6 gray pa5">
      <div class="measure-wide tc center ph2">
  <a class="link hover-silver near-black dib h2 w2 mr3" href="https://twitter.com/patrickdelliott" title="Twitter">
      <img src="/images/twitter.svg"/>
  </a>
  <!-- <a class="link near-black hover-silver dib h2 w2 mr3" href="https://facebook.com/pdelliott" title="Facebook">
       <img src="/images/facebook.svg"/>
       </a> -->
  <a class="link near-black hover-silver dib h2 w2 mr3" href="https://keybase.io/patrl" title="Keybase">
      <img src="/images/keybase.svg"/>
  </a>
 <a class="link near-black hover-silver dib h2 w2 mr3" href="https://github.com/patrl" title="GitHub">
     <img src="/images/github.svg"/>
  </a>
  <!-- <a class="link hover-silver near-black dib h2 w2 mr3" href="https://instagram.com/patrickdelliott" title="Instagram">
       <img src="/images/instagram.svg"/>
       </a> -->
      </div>
      <div class="measure-wide tc inconsolata gray center pa3">
      @ 2017 Patrick D. Elliott
      </div>
      <div class="measure-wide tc inconsolata gray center pa1">
          Built with λove using Hakyll and Tachyons. <a href="https://github.com/patrl/patrl.github.io">Source</a>
      </div>
      </footer>
