<nav class="flex justify-between bb b--white-10 inconsolata tracked-mega ttu">
    <div class="flex items-center pa3">
        <a class="f5 dib white b ttl mr3 mr4-ns">λ</a>
        <a class="f5 link dib white dim cl-effect-1" href="/">Patrick D. Elliott</a>
    </div>
    <div class="flex-grow pa3 flex items-center">
        <a class="f5 link dib white dim mr3 mr4-ns cl-effect-1" href="/">about</a>
        <a class="f5 link dib white dim mr3 mr4-ns cl-effect-1" href="https://patrl.keybase.pub/cv.pdf">vitæ</a>
        <a class="f5 link dib white dim mr3 mr4-ns cl-effect-1" href="/research.html">research</a>
        <a class="f5 link dib white dim strike cl-effect-1" href="/">blog</a>
    </div>
</nav>
