 <nav class="w-100 tc white fixed bg-black inconsolata shadow-5">
      <input type="checkbox" id="burger" class="absolute top-2 right-1 dn">
      <label for="burger" class="dn-l pointer absolute top-1 right-1">
        <i class="fa fa-bars white dib f2"></i>
      </label>
      <ul class="overflow-hidden menu db-l w-100 list pl0 pt3 tc mv0 f5 fw3 f4-l">
        <li class="absolute top-1 static-l ph4 mh2 fw3 di-l tl pt1 pb3 pv3-l">
            <span class="mr3">λ</span>
          <a href="/" class="white link tracked-mega ttu cl-effect-1">Patrick D. Elliott</a> 
        </li>
        <li class="ph4 pt5 pb2 tl dn-l"><a href="/" class="white link tracked-mega ttu cl-effect-1">about</a></li>
        <li class="ph4 di-l pv2 tl pv0-l"><a href="https://patrl.keybase.pub/cv.pdf" class="white link cl-effect-1 ttu tracked-mega">vitæ</a></li>
        <li class="ph4 di-l pv2 tl pv0-l"><a href="/research.html" class="white link cl-effect-1 ttu tracked-mega">research</a></li>
        <li class="ph4 di-l ph2 pb4 tl pv0-l"><a href="/" class="white link cl-effect-1 ttu tracked-mega strike">blog</a></li> 
      </ul>
</nav>
<!-- 
     <nav class="flex justify-between bb b--white-10 inconsolata tracked-mega ttu fixed w-100 bg-black">
     <div class="flex items-center pa3">
     <a class="f5 dib white b ttl mr3 mr4-ns">λ</a>
     <a class="f5 link dib white dim cl-effect-1" href="/">Patrick D. Elliott</a>
     </div>
     <div class="flex-grow pa3 flex items-center">
     <a class="f5 link dib white dim mr3 mr4-ns cl-effect-1" href="/">about</a>
     <a class="f5 link dib white dim mr3 mr4-ns cl-effect-1" href="https://patrl.keybase.pub/cv.pdf">vitæ</a>
     <a class="f5 link dib white dim mr3 mr4-ns cl-effect-1" href="/research.html">research</a>
     <a class="f5 link dib white dim strike cl-effect-1" href="/">blog</a>
     </div>
     </nav> -->
