<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="English" xml:lang="English"$if(dir)$ dir="$dir$"$endif$>
    $partial("templates/head.html")$
    <body>
        <div class="cf ph3 ph5-ns pv5">
        $partial("templates/test-header.html")$
        <div class="fn fl-ns w-two-thirds-ns">
        <h1 class="f-headline f1-ns">$title$</h1>
        <span class="f6 mid-gray ttu tracked plex-sans">$date$</span>
        <article>
        $body$
        </article>
        </div>
        </div>
        $partial("templates/test-footer.html")$
    </body>
</html>
