<footer class="bt b--light-gray f6 gray pa5">
    <div class="measure-wide tc center ph2">
        <a class="link dim hover-silver dib h2 w2 mr3" href="https://twitter.com/patrickdelliott" title="Twitter">
            <img src="/images/twitter.svg"/>
        </a>
        <a class="link dim hover-silver dib h2 w2 mr3" href="https://keybase.io/patrl" title="Keybase">
            <img src="/images/keybase.svg"/>
        </a>
        <a class="link dim hover-silver dib h2 w2 mr3" href="https://github.com/patrl" title="GitHub">
            <img src="/images/github.svg"/>
        </a>
    </div>
    <div class="measure-wide tc center ph2 lh-copy">
        <p>
            @ 2018 Patrick D. Elliott
        </p>
        <p>
            Built with λove using <a class="link dim purple" href="https://jaspervdj.be/hakyll/">hakyll</a> and <a class="link dim purple" href="http://tachyons.io/">tachyons</a>. <a class="link dim purple" href="https://github.com/patrl/patrl.github.io/tree/develop">Source</a>
        </p>
    </div>
</footer>
