<header class="pv2 pv4-ns plex-sans ttu tracked">
            <h1 class="f2 lh-title fw9 mb3 mt0 pt3">
                <a href="/" title="home" class="black link">
                    Patrick D. Elliott
                </a>
            </h1>
            <nav class="f6 mid-gray lh-title" role="navigation">
                <a class="link dim mid-gray" href="https://patrl.keybase.pub/cv.pdf" title="CV">vitæ</a>
                <a class="link dim mid-gray" href="/research.html" title="Research">research</a>
                <a class="link dim mid-gray" href="/teaching.html" title="Teaching">teaching</a>
                <a class="link dim mid-gray" href="/blog.html" title="Blog">blog</a>
            </nav>
        </header>
