:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
}

/* .aside li { */
/*   list-style-type: "├──"; */
/*   margin: 0; */
/*   padding: 0; */
/* } */

/* .aside li:last-child { */
/*   list-style-type: "└──"; */
/*   margin: 0; */
/*   padding: 0; */
/* } */


::selection {
    background: var(--nord2);
}

body {
    color:      var(--nord4);
    background: var(--nord0);
    font-family: monospace, monospace;
    margin: 0;
}

main {
    margin: auto;
    max-width: 38rem;
    /* line-height: 1.6; */
    /* font-size: 18px; */
    padding: 2rem;
}

pre {
    background-color: var(--nord1);
    padding: 1em;
    border: 0;
}

a, a:active, a:visited {
    color: var(--nord8);
}

h2:before {
    content: "◉";
    margin-right: 0.5em; 
}

h3:before {
    content: "○";
    margin-right: 0.5em; 
}

h4:before {
    content: "✸";
    margin-right: 0.5em; 
}

h1 {
    color: var(--nord15);
    margin-bottom: .1rem;
}

h2, h3, h4, h5 {
    margin-bottom: .1rem;
    color: var(--nord7);
}



blockquote {
    border-left: 1px solid var(--nord11);
    margin: 0.5em 10px;
    padding: 0.5em 10px;
}

footer {
    align: center;
}

.status {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--nord1);
    overflow: hidden; 
    text-align: center;
}

.status a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
